* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*margin: 0px 0px 0px 0px; /*Remove todos os espaços das laterais, na ordemem: cima, direira, baixo, esquerda*/
}
.container {
  background-color: darkgrey;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 30px;
}
.header {
  flex-basis: 100%; /*mesma coisa que o width, nota mais a diferença quando está usando o flex*/
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.main-content {
  flex: 1 0 400px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /*align-items: center;*/
  justify-content: center;
  align-content: center;
}
.items {
  width: 350px;
  height: 240px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  flex-basis: 100%; /*mesma coisa que o width, nota mais a diferença quando está usando o flex*/
  height: 50px;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
