@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fasthand&family=Silkscreen&display=swap");
#text1 {
  font-family: Anton, Arial, sans-serif;
}
#text2 {
  font-family: Silkscreen, Arial, sans-serif;
}
#text3 {
  font-family: Fasthand, arial, sans-serif;
}
