@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat:wght@100&display=swap");
p {
  font-family: "montserrat", Arial, sans-serif; /*Fámilia da fonte, sempre escolher a fonte primária, secun, terci. */
  font-size: 20px; /*Define o tamanho da fonte*/
  font-weight: 600; /*É o peso da fonte, deixa o texto em negrito, pode escolher também por nº sem precisar colocar o bold*/
  line-height: 2; /*Distância entre as linhas do texto. */
}
h1 {
  font-family: "Fasthand", cursive;
  margin-bottom: 50px;
  border: 3cm;
  font-weight: 100;
}
